body {
  margin: 0;
  background: linear-gradient(-45deg, #D3EDEE, #F1FAEE) fixed;
}
p,h1 {
  padding-left: 1%;
  padding-right: 1%;
}
.cover-img {
  background-image: url(../../assets/images/main_cover.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
}
.navbar {overflow: hidden; position: sticky; top: 0;}
.navbar, .footer {
  width: 100%;
  background-color: #1D3557;
}
#icon {padding: 14px 10px;}
#logo {font-family: 'Exo 2', sans-serif;}
.navbar p {margin: 0px;}
.navbar a {text-decoration: none; transition: 1s;}
.navbar p, .navbar a {
  float: left;
  color: #F1FAEE;
  padding: 14px 20px;
}
#content {
  margin: auto;
  width: 80%;
}
.content-item {
  float: left;
  margin: 20px;
  padding: 24px 18px;
  width: 20%;
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.7);
}
.navbar p, .navbar a, .footer a {
  display: block;
  text-align: center;
}
.navbar a:hover {background-color: #457B9D;}
.footer {
  bottom: 0; 
  color: #E63946;
  position: fixed;
}
.footer a {
  color: #E63946;
  padding: 3px 8px;
}
