body {
  margin: 0;
  background: linear-gradient(-45deg, #D3EDEE, #F1FAEE) fixed;
}
p,h1 {
  padding-left: 1%;
  padding-right: 1%;
}
.header {overflow: hidden;}
.header, .footer {
  width: 100%;
  background-color: #1D3557;
}
#icon {padding: 14px 10px;}
#logo {font-family: 'Exo 2', sans-serif;}
.header p {margin: 0px;}
.header a {text-decoration: none;}
.header p, .header a {
  float: left;
  color: #F1FAEE;
  padding: 14px 20px;
}
#content {}
.content-item {
  float: left;
  box-shadow: 2px 2px;
}
.header p, .header a, .footer a {
  display: block;
  text-align: center;
}
.header a:hover {background-color: #457B9D;}
.footer {
  bottom: 0; 
  color: #E63946;
  position: fixed;
}
.footer a {
  color: #E63946;
  padding: 3px 8px;
}
