body {
  background-color: #A8DADC;
  margin: 0;
}
.header {overflow: hidden;}
.header, .footer {
  width: 100%;
  background-color: #1D3557;
}
.header p {margin: 0px;}
.header a {text-decoration: none;}
.header p, .header a {
  float: left;
  color: #F1FAEE;
  padding: 14px 20px;
}
.header p, .header a, .footer a {
  display: block;
  text-align: center;
}
.header a:hover {background-color: #457B9D;}
.footer {
  bottom: 0; 
  color: #E63946;
  position: fixed;
}
.footer a {
  color: #E63946;
  padding: 3px 8px;
}
