body {
  background-color: #7ac5cd;
  margin: 0;
}
.header {
  background-color: #104e8b;
  overflow: hidden;
  width: 100%;
}
.header a {
  float: left;
  color: #fffaf0;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.header a:hover {
  background-color: #1874cd;
}
.footer {
  bottom: 0; 
  width: 100%;
  position: fixed;
}

