body {
  margin: 0;
  background: linear-gradient(45deg, #A8DADC, #74B9BB) fixed;
}
.header {overflow: hidden;}
.header, .footer {
  width: 100%;
  background-color: #1D3557;
}
.icon {background-image: url("assets/images/home.svg"); padding: 0px 14px; background-position: center; background-size: cover;}
.header p, .icon {margin: 0px;}
.header a {text-decoration: none;}
.header p, .header a {
  float: left;
  color: #F1FAEE;
  padding: 14px 20px;
}
.header p, .header a, .footer a {
  display: block;
  text-align: center;
}
.header a:hover {background-color: #457B9D;}
.footer {
  bottom: 0; 
  color: #E63946;
  position: fixed;
}
.footer a {
  color: #E63946;
  padding: 3px 8px;
}
